<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>

  {{>header}}

  <p>
    We want to notify you that you have recovered the password to access your account correctly.

    Thank you very much for trusting in our services.
  </p>

  {{>footer}}

</body>

</html>