<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>

  {{>header}}

  <p>
    You are receiving this email because we received a password reset request for your account. Your verification code is:
    <br><br>

    <a href="http://localhost:3333/api/auth/reset/{{ token }}">Reset password</a>
    <br><br>
    
    <small>http://localhost:3333/api/auth/reset/{{ token }}</small>

  </p>

  <p>
    If you did not request a password reset, no further action is required.
  </p>

  {{>footer}}

</body>

</html>